html, body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

body {
  font-size: 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --brand-color: #4fc2e1;
  --icon-color: #546e7a;
  --container-color: #f5f5f5;
  --nav-color: #212121;
  --red-color: #e53935;
  --font-color: #424242;
  --backGround-color: #eeeeee;
}

#root {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: rgb(66, 66, 66);
}
