.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(35, 36, 36);
  height: 70px;
}
.navRight {
  margin-right: 5%;
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navLogo {
  height: 70px;
}

.navLink {
  text-decoration: none;
  display: flex;
  justify-items: center;
  justify-content: center;
}
.navLink:hover {
  cursor: pointer;
  border-bottom: 4px solid aliceblue;
  transition: 0.5s;
}

.navLinkA {
  margin: 10px;
  color: aliceblue;
  font-size: 26px;
}
