.box {
  border: 1px solid black;
  width: 95%;
  margin: 10px auto;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  overflow: hidden;
}

.boxitle {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}
.boxDate {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.boxPrice {
  grid-column: 3 / 4;
  grid-row: 3/ 4;
  margin-left: auto;
  margin-right: 30px;
}

.boxImg {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  height: 100%;
  width: 100%;
}
.box:hover {
  cursor: pointer;
}
.box:hover img {
  transform: scale(1.2);
  transition: 0.5s;
}
