.boxInput {
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  width: 350px;
  height: 35px;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 30px;
}
.boxInput:focus {
  outline: none;
  border-bottom: 2px solid white;
}

.boxSearch {
  height: 100%;
  background: transparent;
  height: 54px;
  width: 45px;
  border: none;
  border-bottom: 2px solid black;
}
